@import "@/assets/css/common.scss";
.mod-signin,
.mod-signup {
  .mod-tip0,
  .mod-tip1 {
    display: block;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    p {
      color: #fff;
    }
    a {
      color: #fff;
    }
    a:focus {
      color: #f8b500;
    }
    &.mod-tip0 {
      top: 500px;
      p,
      p a {
        font-size: 60px;
      }
    }
    &.mod-tip1 {
      position: relative;
      // bottom: 200px;
      p,
      p a {
        font-size: 30px;
        &:focus {
          color: #f8b500;
          font-weight: 700;
        }
      }

    }
  }
}
/* mod-signin */
.mod-signin {
  .mod-signin-in {
      .step-tit,
      .step-tit-sub {
          color: #fff;
          display: block;
          text-align: center;
          line-height: 2;
      }
      .step-tit {
          font-size: 60px;
      }
      .step-tit-sub {
          font-size: 30px;
      }
  }
  .mod-btn0-signin {
    display: block;
    a {
      @include btnBasic;
      @include canFocus;
      &.btn-signin-mobile {
        background: #f8b500;
      }
      &.btn-signin-facebook {
        background: #3264fa;
      }
    }
  }
}
/* mod-signup */
.mod-signup {
  font-size: 50px;
    .mod-signup-in {
      font-size: 60px;
        .step-tit,
        .step-tit-sub {
            color: #fff;
            display: block;
            text-align: center;
            line-height: 2;
        }
        .step-tit {
            font-size: 60px;
        }
        .step-tit-sub {
            font-size: 30px;
        }
    }
}