@import "@/assets/css/mixin.scss";

.formDiv {
  text-align: left;
  // padding-bottom: 6px;
  // padding: 10px;
  padding-bottom: 9px;
  padding: 15px;
  box-sizing: border-box;

  .form-item {
    // padding: 6px;
    padding: 9px;

    .validTip {
      display: inline-block;
      vertical-align: top;
      // line-height: 30px;
      // min-height: 30px;
      line-height: 45px;
      min-height: 45px;
      color: #f00;
      // margin-left: 10px;
      margin-left: 15px;
    }
    // aaaaaa
    .item-label {
      display: block;
      // min-height: 30px;
      // padding-left: 20px;
      min-height: 45px;
      padding-left: 30px;

      position: relative;

      .icon-required {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        vertical-align: top;
        // line-height: 30px;
        line-height: 45px;

        // height: 30px;
        height: 45px;

        color: #f00;
        // margin-right: 6px;
        margin-right: 9px;
      }
    }

    .title {
      display: inline-block;
      // width: 200px;
      // height: 30px;
      // line-height: 30px;
      width: 300px;
      height: 45px;
      line-height: 45px;

      vertical-align: top;
    }

    input,
    select {
      display: inline-block;
      // width: 300px;
      // height: 30px;
      // line-height: 30px;
      width: 450px;
      height: 45px;
      line-height: 45px;
      border: 0;
      vertical-align: top;
      // padding: 0 6px;
      padding: 0 9px;
      // aaaaaa
      box-sizing: border-box;
      background: #000;
      color: #fff;
      &:focus {
        background: #333;
      }
    }

    &.form-item-submit {
      a {
        @include btn-basic;
        &:focus {
          background: #f00;
          color: #fff;
        }
      }

      a.primary {
        @include btn-basic-primary;
        &:focus {
          background: #f00;
          color: #fff;
        }
      }
    }
  }
  @at-root & .form-item {
    input,
    select {
      font-size: 26px!important;
    }
    .title {
      width: 390px;
    }
  }
}
