// @mixin btn-basic { margin-left: auto; margin-right: auto; }
@mixin aaa {
  color: #f00!important;
}
@mixin btn-basic {
  display: inline-block;
  // width: 200px;
  // height: 30px;
  width: 300px;
  height: 45px;
  color: #fff;
  // font-size: 20px;
  font-size: 20px;
  text-align: center;
  // line-height: 30px;
  line-height: 45px;

  // border: 1px solid #999;
  border: 1.5px solid #999;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
}
@mixin btn-basic-focus {
  background: #999;
  color: #000;
}
@mixin btn-basic-primary {
  background: #ccc;
  color: #000;
}

@mixin btn-basic-disabled {
  pointer-events: none;
  cursor: default;
  opacity: 0.8;
  background: #333;
  color: #aaa;
}

$blurVal: 20px;
@mixin filterblur {
  -webkit-filter: blur($blurVal);
  -moz-filter: blur($blurVal);
  -o-filter: blur($blurVal);
  -ms-filter: blur($blurVal);
  filter: blur($blurVal);
}

@mixin filterblur-testok {
  -webkit-filter: blur(#{getBlurVal($blurVal)});
  -moz-filter: blur(#{getBlurVal($blurVal)});
  -o-filter: blur(#{getBlurVal($blurVal)});
  -ms-filter: blur(#{getBlurVal($blurVal)});
  filter: blur(#{getBlurVal($blurVal)});
}

@function getBlurVal($w) {
  @return $w;
}

@mixin filterblur100 {
  -webkit-filter: blur(100px);
  -moz-filter: blur(100px);
  -o-filter: blur(100px);
  -ms-filter: blur(100px);
  filter: blur(100px);
}

@mixin canFocus {
  border: 2px solid transparent;
  border-radius: 15px;
  @include lightFocus
}
@mixin lightFocus {
  &:focus {
    border-color: #fff;
    background: rgba(0, 0, 0, 0.5); 
    // box-shadow: 0 0 20px rgba(50, 100, 250, 1); // 3264fa 50 100 250
    // box-shadow: 0 0 30px rgba(123, 156, 255, 1); // original
    box-shadow: 0 0 30px rgba(255, 255, 0, 1); // test
  }
}

@mixin btnBasic {
  width: 500px!important;
  height: 80px!important;
  line-height: 80px!important;
  display: block!important;
  margin: auto!important;
  color: #fff!important;
  border: 1px solid #fff!important;
  text-decoration: none;
  border-radius: 0!important;
  margin-bottom: 20px!important;
}