@import "@/assets/css/mixin.scss";

/* test */
h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  // margin: 0 10px;
  margin: 0 15px;
}

a {
  color: #42b983;
}

.hello {
  color: #fff;
  // padding-top: 20px;
  padding-top: 30px;
}

#app {
  // min-height: 600px;
  min-height: 900px;
}

.link-template {
  @include btn-basic;
  display: block;
  width: auto;
  margin-bottom: 10px;
}

.link-template:focus,
.link-template.focus {
  @include btn-basic-focus;
}

.link-template[disabled],
.link-template[show] {
  @include btn-basic-disabled;
}

.link-template.link-template-manage {
  // margin: 20px 0;
  // margin: 0 0 30px;
}

.templateDiv {
  width: 500px;
  // width: 750px;
  text-align: left;
  // padding: 10px;
  padding: 15px;
  box-sizing: border-box;
}

.templateDiv .link-template {
  // margin: 0 0 6px 0;
  margin: 0 0 9px 0;
}

.testDiv1 {
  width: 70%;
  height: 70%;
  // border: 2px solid #f00;
  // border: 3px solid #f00;
  border: 4.5px solid #f00;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  // font-size: 20px !important;
  // font-size: 30px !important;
  font-size: 45px !important;
  position: fixed;
  left: 15%;
  top: 15%;
  z-index: 999;

  p {
    // font-size: 20px !important;
    // font-size: 30px !important;
    font-size: 45px !important;
    line-height: 1.2;
  }
}

/*
<div style="font-size: 30px;">
          <!-- data.signup: {{data.signup}} -->
          data.signup.steps[data.signup.step]： {{
            data.signup.steps[data.signup.step]
          }}
        </div>
        */