* {
  margin: 0;
  padding: 0;
}

/*清楚浮动*/
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.template-a6-show {
  ul {
    list-style: none;
  }

  .hidden {
    display: none;
  }

  // @font-face {
  //   font-family: "avenirnextregular";
  //   src: url('~@/assets/css/a6/avenirnextregular.otf');
  // }

  body {
    margin: 0;
    padding: 0;
    width: 100%;
    // background:url("~@/assets/img/a3/bg.jpg");
    font-family: avenirnextregular;
    color: #ffffff;
  }

  .contain {
    // width: 1280px;
    // height: 720px;
    width: 1920px;
    height: 1080px;
    overflow: hidden;
    background-color: #252525;
  }
  .header {
    // width: 1280px;
    width: 1920px;
    // height: 200px;
    // margin-top: 147px;
    margin-top: 220.5px;
  }
  .bgBox {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    // width: 1280px;
    // height: 720px;
    width: 1920px;
    height: 1080px;
    z-index: 0;
  }

  .details {
    // width: 1280px;
    // height: 255px;
    width: 1920px;
    height: 382.5px;
    display: flex;
    //   margin-top: 29px;
  }

  .bgBox .videoImg {
    position: relative;
    // width: 880px;
    // height: 470px;
    width: 1320px;
    height: 705px;
    //   padding-left: 65px;
  }

  .bgBox .videoImg .videoMasking {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: -webkit-radial-gradient(
      100% 0%,
      farthest-side,
      rgba(255, 255, 255, 0),
      #252525
    );
  }

  .bgBox .videoImg img {
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: url("~@/assets/img/a6/videoBig.png") no-repeat;
    background-size: 100% 100%;
  }

  .details .describeWarp {
    flex: 1;
    // padding-left: 34px;
    padding-left: 51px;
  }

  .details .describeWarp .describe {
    // width: 605px;
    // height: 250px;
    width: 907.5px;
    height: 375px;
    position: relative;
  }
  .details .describeWarp .content {
    // width: 500px;
    // padding-left: 43px;
    width: 750px;
    padding-left: 64.5px;
    // position: absolute;
    // top: 30px;
    color: #fff;
  }

  .details .describe .title {
    width: 100%;
    text-align: left;
    // font-size: 54px;
    font-size: 81px;
    font-weight: 900;
    // line-height: 30px;
    line-height: 45px;
  }
  .content .audience {
    font-family: Roboto;
    font-weight: Bold;
    width: 100%;
    text-align: left;
    // padding-top: 10px;
    padding-top: 15px;
    color: #d33d34;
    // font-size: 16px;
    font-size: 24px;
  }

  .content .videoInfo {
    font-family: Roboto;
    // width: 426px;
    width: 639px;
    text-align: left;
    // padding-top: 10px;
    padding-top: 15px;
    color: #ffffff;
    // font-size: 16px;
    // line-height: 26px;
    font-size: 24px;
    line-height: 39px;
  }
  .content .genre {
    font-family: Roboto;
    font-weight: Bold;
    // width: 426px;
    width: 639px;
    text-align: left;
    // padding-top: 59px;
    padding-top: 88.5px;
    color: #d33d34;
    // font-size: 16px;
    font-size: 24px;
  }
  .content .audience .audienceInfo {
    // margin-left: 5px;
    margin-left: 7.5px;
    font-family: "Roboto Medium";
    color: #ffffff;
    // font-size: 16px;
    font-size: 24px;
  }

  .content .genre .genreInfo {
    // margin-left: 5px;
    margin-left: 7.5px;
    font-family: "Roboto Medium";
    color: #ffffff;
    // font-size: 16px;
    font-size: 24px;
  }
  .PartingLine1280 {
    // margin-top: 70px;
    // width: 1280px;
    // height: 2px;
    margin-top: 105px;
    width: 1920px;
    height: 3px;
    background: rgba(225, 225, 225, 0.3);
  }

  .videosWrap {
    // width: 1280px;
    width: 1920px;
    overflow: hidden;
    // padding-left: 70px;
    // padding-top: 100px;
    padding-left: 105px;
    padding-top: 150px;
    //   padding-bottom: 145px;
  }

  .videosWrap .videolist {
    // width: 1200000000000000000px;
    // height: 160px;
    width: 1800000000000000000px;
    height: 240px;
    //   margin-top: 33px;
  }

  .videolist .video {
    float: left;
    // width: 210px;
    // height: 120px;
    width: 315px;
    height: 180px;
    //   border: 8px solid rgba(225, 225, 225, 0);
    // margin: 8px;
    margin: 12px;
    position: relative;
  }
  .videolist .video:focus {
    //   width: 266px;
    //   height: 154px;
    // box-shadow: 0px 0px 30px red;
    box-shadow: 0 0 45px red;
    transform: scale(1.2);
    z-index: 100;
    // box-shadow: inset 0 0 0 2px black, 0px 0px 20px red;
    box-shadow: inset 0 0 0 3px black, 0 0 30px red;
    //   border: 4px solid red;
    outline: none;
    // padding: 2px;
    // border: 3px solid white;
    // margin: 3px;
    padding: 3px;
    border: 4.5px solid white;
    margin: 4.5px;
  }
  .videolist .video .imgc {
    width: 100%;
    height: 100%;
    background: url("~@/assets/img/a3/video.png");
    background-size: 100% 100%;
  }

  .videolist .video .playIcon {
    // width: 46px;
    // height: 46px;
    width: 69px;
    height: 69px;
    background: url("~@/assets/img/a3/playIcon.png");
    position: absolute;
    // top: 42px;
    // left: 82px;
    top: 63px;
    left: 123px;
    z-index: 100;
  }
  // aaaaaa
  .videolist .video .divMack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 50;
  }
}
